### Python zip
If you are a regular computer user, you should have used .zip file extension. Do you know what it is? Basically, .zip is a container itself. It holds the real file inside.

Similarly,

#### Python zip is a container that holds real data inside. Python zip function takes iterable elements as input, and returns iterator. If Python zip function gets no iterable elements, it returns an empty iterator.

In Python 3, zip function creates a zip object, which is a generator and we can use it to produce one item at a time. To get a list of tuples, we can use list() and create a list of tuples.

In [ ]:
list1 = ['Alpha', 'Beta', 'Gamma', 'Sigma']
list2 = ['one', 'two', 'three', 'six']

test = zip(list1, list2)  # zip the values

print('\nPrinting the values of zip')
for values in test:
    print(values)  # print each tuples

Printing the values of zip
('Alpha', 'one')
('Beta', 'two')
('Gamma', 'three')
('Sigma', 'six')

In [ ]:
def sum__(a,b):
    return a+b

if __name__=='__main__':
  sum(1,2)

3

In [ ]:
class abs:
    def __init__(self,)

3

In [ ]:
switch = {'a':1,'b':2,'c':2,'d':None}

switch.get('d',"nothing")

### Create pandas dataframe from lists using zip

One of the way to create Pandas DataFrame is by using zip() function.

You can use the lists to create lists of tuples and create a dictionary from it. Then, this dictionary can be used to construct a dataframe.

zip() function creates the objects and that can be used to produce single item at a time. This function can create pandans DataFrames by merging two lists.

In [ ]:
import pandas as pd 

# List1 
Name = ['tom', 'krish', 'nick'] 
  
# List2 
Age = [25, 30, 26, 22] 
  
# get the list of tuples from two lists. 
# and merge them by using zip(). 
list_of_tuples = list(zip(Name, Age)) 
  
# Assign data to tuples. 
list_of_tuples

[('tom', 25), ('krish', 30), ('nick', 26)]

In [ ]:
# Converting lists of tuples into 
# pandas Dataframe. 
df = pd.DataFrame(list_of_tuples, columns = ['Name', 'Age'], index = ['a', 'b', 'c', 'd','e']) 
   
# Print data. 
df

    Name  Age
0    tom   25
1  krish   30
2   nick   26
3   juli   22